<div class="bgComponent">
<h1>Detalle del servicio</h1>
<h1>Domiciliario:  {{servicesData[0].name_deliv}}</h1>
<h2>Estado:  {{servicesData[0].name_status}}</h2>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  
  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="Cliente">
    <th mat-header-cell *matHeaderCellDef> Cliente </th>
    <td mat-cell *matCellDef="let element"> {{element.name_client}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="Origen">
    <th mat-header-cell *matHeaderCellDef> Origen </th>
    <td mat-cell *matCellDef="let element"> {{element.source}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="Destino">
    <th mat-header-cell *matHeaderCellDef> Destino </th>
    <td mat-cell *matCellDef="let element"> {{element.destination}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="Precio">
    <th mat-header-cell *matHeaderCellDef> Precio </th>
    <td mat-cell *matCellDef="let element"> {{element.price}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="Observaciones">
    <th mat-header-cell *matHeaderCellDef> Observaciones </th>
    <td mat-cell *matCellDef="let element"> {{element.observation}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
</div>