<div class="bgComponent">
  <div class="form">
    <mat-card class="card">
      <div class="back" routerLink="home"><mat-icon>backspace</mat-icon></div>
      <mat-card-title>Nuevo Servicio</mat-card-title>
      <div class="container"> 
        <div class="form-row">
          <div class="col-md-4 mb-3"> 
              <mat-form-field class="mat-form" appearance="legacy">
                  <mat-label>Nombre Cliente</mat-label> 
                  <input matInput placeholder="Evniar a:" />
                </mat-form-field>
          </div>
          
           <div class="col-md-2 mb-3">
              <mat-form-field class="mat-form" appearance="legacy">
                  <mat-label>Direccion Envio</mat-label>
                  <input matInput placeholder="Evniar a:" />
                </mat-form-field>
          </div>
          
          <div class="col-md-3 mb-3">
              <mat-form-field class="mat-form" appearance="legacy">
                  <mat-label>Direccion destino</mat-label>
                  <input matInput placeholder="Destino" />
                </mat-form-field>
          </div> 
        </div>
        <div class="form-row">
          <div class="col-md-4 mb-3"> 
              <mat-form-field class="mat-form" appearance="legacy">
                  <mat-label>Nombre Cliente</mat-label> 
                  <input matInput placeholder="Evniar a:" />
                </mat-form-field>
          </div> 
          <div class="col-md-3 mb-3">
            <mat-form-field class="mat-form" appearance="legacy">
                <mat-label>Precio</mat-label>
                <input matInput placeholder="Placeholder" />
              </mat-form-field>
        </div> 
        </div>
        <div class="form-row"> 
          <div class=" col-md-4 ">
            <mat-form-field appearance="fill">
              <mat-label>Observaciones</mat-label>
              <textarea matInput placeholder="Placeholder"></textarea> 
            </mat-form-field> 
          </div>
         
        </div>
      </div>
    </mat-card>
  </div>
</div>
