      
        
        
          <div class="container">
            <ng-container matColumnDef="Domiciliario">
              <input
                [(ngModel)]="registerDate.name"
                matInput
                placeholder="Nombre"
                required
              />
            </ng-container>
            <ng-container matColumnDef="Domiciliario">
              <input
                [(ngModel)]="registerDate.name"
                matInput
                placeholder="Correo"
                required
              />
            </ng-container>
            <ng-container matColumnDef="Domiciliario">
              <input
                [(ngModel)]="registerDate.name"
                matInput
                placeholder="Celular"
                required
              />
            </ng-container>
            <ng-container matColumnDef="Domiciliario">
              <input
                [(ngModel)]="registerDate.name"
                matInput
                placeholder="Task Name"
                required
              />
            </ng-container>

            <button (click)="saveTask()" class="button" mat-raised-button>
              Create
            </button>
            
          </div>
        
        
      
    
  